<div class="container">
  <div class="table-responsive">
    <table class="table text-center">
      <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>état</th>
        <th>détails</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td>1</td>
        <td>kaoutar@uca.ma</td>
        <td>
          <a class="btn1"><i class="fa fa-check"  style="color: limegreen; "></i> </a>
        <br>  <a class="btn2" ><i class="fa fa-xmark"  style="color: red; "></i> </a>
        </td>
        <td>
          <a class="btn btn-primary" routerLink="/detail-demande-Manif/:id">Détails</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



