<div class="nav-container">
  <nav class="nav-checkbox">
    <a> <img class="img" src="http://type-adev.uca.ma/assets/uca.png">
    </a>
    <input id="tab-nav" type="checkbox" class="tab-nav" name="tabs">
    <label for="tab-nav" class="tab-nav-label">Menu</label>
    <ul class="tab-content">
      <li><a [routerLink]="['']">Accueil</a></li>
      <li><a *ngIf="isLogged == false; else loggedin" routerLink="/login" class="nav-link">Postuler</a>
        <ng-template #loggedin>
          <a routerLink="/choisir-postuler">Postuler</a>
        </ng-template>
      </li>

      <li>
        <a routerLink="/historique">Historique</a>
      </li>
      <li><a routerLink="/contact">Contacter</a></li>
      <li>
        <ng-template #loginBtn>
          <a>
            <button class="btn" (click)="goToLogin()">S'identifier</button>
          </a>
        </ng-template>

        <div class="nav-item" *ngIf="isLogged == true; else loginBtn">
          <a>
            <button class="buttonn" (click)="logoutUser()">
              Se déconnecter
            </button>
          </a>
        </div>
      </li>
    </ul>
  </nav>
</div>
