.h2{
  display: flex;
  justify-content: center;
  justify-items: center;
  font-family: "Harlow Solid Italic";
  padding-top: 30px;
}
.image{
  width: 430px;
  height: 40px;
}
.image2{
  width: 350px;
  height: 40px;
}
.image3{
  width: 440px;
  height: 40px;
}
.text{
  font-family: Arial;
  padding-right: 20px;
}
.info{
  font-family: Arial;
  font-weight: bold;
}
.text_heading {
  float: left;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  text-align: center;
  padding-bottom: 56px;
}

.text_heading h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background: #fff;
  display: inline-block;
  padding: 0px 20px;
}

.btn1 {
  background: #ff4157;
  border: 1px solid #ff4157;
}

.section2_btn {
  border-radius: 35px;
  padding: 10px 12px;
  width: 100%;
  height: 52px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 42px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.btn11 {
  background: transparent;
  border: 2px solid #ff4157;
  color: #ff4157;
}

.btn22 {
  background: transparent;
  border: 2px solid #4285f4;
  color: #4285f4;
}

.btn22:hover {
  background: #4285f4;
  color: #fff;
}

.btn33 {
  background: transparent;
  border: 2px solid #35d8a1;
  color: #35d8a1;
}

.btn33:hover {
  background: #35d8a1;
  color: #fff;
}

.btn44 {
  background: transparent;
  border: 2px solid #efa44b;
  color: #efa44b;
}

.btn44:hover {
  background: #efa44b;
  color: #fff;
}


.btn11:hover {
  background: #ff4157;
  color: #fff;
}
/*.h3{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  justify-items: center;*/
/*  padding-top: 30px;*/
/*}*/
