.h2{
  display: flex;
  justify-content: center;
  justify-items: center;
  font-family: "Harlow Solid Italic";
  padding-top: 30px;
}
.image{
  width: 430px;
  height: 40px;
}
.image2{
  width: 350px;
  height: 40px;
}
.image3{
  width: 440px;
  height: 40px;
}
.image4{
  width: 400px;
  height: 40px;
}
.text{
  font-family: Arial;
  padding-right: 20px;
}
.info{
  font-family: Arial;
  font-weight: bold;
}
.text_heading {
  float: left;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  text-align: center;
  padding-bottom: 56px;
}

.text_heading h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background: #fff;
  display: inline-block;
  padding: 0px 20px;
}
.btn{
  margin-right: 0.5rem !important;
  width: 140px;
}

.btn {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  padding: .7rem 1.5rem;
  border-radius: 0.1275rem;
}

.padding{
  display: flex;
  justify-items: left;
  justify-content: center;
  margin-top:70px;
  margin-bottom:100px;
}
.btn55{
  color: #e14040;
  border-color: #e4405f
;
}
.btn55:hover{
  background-color: rgba(239, 130, 142, 0.94);
;
}

.paddingx{
  display: flex;
  justify-items: left;
justify-content: center;
  margin-bottom:50px;
}
.btn44{
  color: #1ad571;
  border-color: #40e448
;
}
.btn44:hover{
  background-color: rgba(130, 239, 139, 0.94);
;
}
.btn33{
  color: #575756;
  border-color: #7e7c7b
;
}
.btn33:hover{
  background-color: rgb(173, 171, 170);
;
}
.btn22{
  color: rgba(225, 152, 68, 0.98);
  border-color: #d27b17
;
}
.btn22:hover{
  background-color: rgba(220, 181, 136, 0.98);
;
}
.btn11{
  color: #0c95a4;
  border-color: #3da7b4
;
}
.btn11:hover{
  background-color: rgb(179, 230, 236);
;
}
