<div class="container card-0 justify-content-center " xmlns:width="http://www.w3.org/1999/xhtml">

  <h1> Demande Soutien Type A</h1>
  <div class="row justify-content-center">

    <div class="h2">
      <img class="image" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
      <h2>Informations Demandeur</h2>
      <img class="image" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
    </div>

    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">Nom :</label>
          <label class="info">M'RHAR </label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Email :</label>
          <label class="info"> kaoutar@uca.ma</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Fonctionnalité :</label>
          <label class="info"> Enseignant chercheur</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">CED :</label>
          <label class="info"> kkkk</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Entité Recherche : </label>
          <label class="info"> EGT</label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">Prénom :</label>
          <label class="info"> KAOUTAR</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">N° Téléphone :</label>
          <label class="info"> 0651112970</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Grade :</label>
          <label class="info"> PH</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Etablissement : </label>
          <label class="info"> FSTG</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Responsable Entité: </label>
          <label class="info"> Ahmed</label></h3>
      </div>
    </div>


    <div class="h2">
      <img class="image2" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
      <h2>Information sur Manifestation scientifique	</h2>
      <img class="image2" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">Objet de la Manifestation scientifique : </label>
          <label class="info">Manifestation</label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text"></label>
          <label class="info"></label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">Pays :</label>
          <label class="info"> France</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Date Début : </label>
          <label class="info"> 2022-05-01</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Date Départ : </label>
          <label class="info"> 2022-05-21</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Intitulé de la participation :</label>
          <label class="info"> JJDYT</label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">Ville :</label>
          <label class="info"> Blois</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Date fin : </label>
          <label class="info">2022-04-26</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Date Retour : </label>
          <label class="info"> 2022-05-29</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Nature de la participation : </label>
          <label class="info"> Conference</label></h3>
      </div>

    </div>

    <div class="h2">
      <img class="image3" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
      <h2>Information sur le soutien</h2>
      <img class="image3" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">A-t-il déja bénéficié d'un soutien Type A cette année?:</label>
          <label class="info">Oui </label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text"></label>
          <label class="info"></label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group" style="padding-bottom: 30px">
        <h3><label class="text">Montant de soutien précedent : </label>
          <label class="info"> 30000 DH</label></h3>
      </div>
      <div class="form-group" style="padding-bottom: 30px">
        <h3><label class="text">Montant Titre Transport :</label>
          <label class="info">10 DH</label></h3>
      </div>
      <div class="form-group" style="padding-bottom: 30px">
        <h3><label class="text">Montant Frais D'inscription :</label>
          <label class="info">3000 DH</label></h3>
      </div>
      <div class="form-group" style="padding-bottom: 30px">
        <h3><label class="text">Montant Hébergement: </label>
          <label class="info">1500 DH</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Autre Montant: </label>
          <label class="info">340 DH</label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">
          Nature de soutien demandé :</label>
          <label class="info"> Complementaire</label></h3>
      </div>
      <div class="form-group">
        <h4><label>Montant Titre Transport édité :</label></h4>
        <input type="number" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <h4><label>Montant Frais D'inscription édité :</label></h4>
        <input type="number" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <h4><label>Montant Hébergement édité :</label></h4>
        <input type="number" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <h4><label>Autre Montant édité :</label></h4>
        <input type="number" class="form-control" placeholder="">
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-3">
        <button class="section2_btn btn22" type="button">Modifier Montant</button>
      </div>
      <div class="col-md-3">
        <button class="section2_btn btn44" type="button">Imprimer</button>
      </div>
      <div class="col-md-3" >
        <button class="section2_btn btn33" type="button">Accepter</button>
      </div>
      <div class="col-md-3" >
        <button class="section2_btn btn11" type="button" >Refuser</button>
      </div>
    </div>



  </div>
</div>
