<div class="d-flex flex-column flex-shrink-0 bg-light vh-100" style="width: 100px; padding-top:81px">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">

<!--    <li routerLinkActive="active"><a class="nav-link py-3 border-bottom" routerLink="dashboard"> <i class="fa fa-dashboard"></i> <small>Dashboard</small> </a>-->
<!--    </li>-->
    <li routerLinkActive="active"><a class="nav-link py-3 border-bottom" routerLink="demandes-Stage" > <i class="fa fa-first-order"></i> <small>Demandes Stage</small> </a>
    </li>
    <li routerLinkActive="active"><a class="nav-link py-3 border-bottom" routerLink="demandes-Manif" > <i class="fa fa-first-order"></i> <small>Demandes Manifestation</small> </a>
    </li>
    <li routerLinkActive="active"><a class="nav-link py-3 border-bottom" routerLink="demandeurs"> <i
      class="fa fa-users"></i> <small>Demandeurs</small> </a>
    <li routerLinkActive="active"><a class="nav-link py-3 border-bottom" routerLink="message"> <i class="fa fa-message"></i> <small>Messages</small> </a>
    </li>
  </ul>
  <div class="dropdown border-top">
    <a class="dropdown-item"  routerLink="/"><i
      class="fas fa-power-off mr-2" ></i>Logout</a>
  </div>
</div>
