<div mat-dialog-content >
    <form class="form">
        <div class="row">
            <div class="col-md-8 line">
                <label>ToEmail :</label>
                <input type="email" value="omarbgm@gmail.com" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 line">
                <label>Subject :</label>
                <input type="text" placeholder="subject"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 line">
            <label>Message Content :</label>
            <textarea type="text" disabled></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 line">
            <label>Message Content :</label>
            <input type="text" placeholder="Chemin de l'attachement"/>
            </div>
        </div>
    </form>
    <button>Valider</button>

</div>

