<app-header></app-header>
<div class="container rounded mt-5 bg-white p-md-5">
  <div class="h2 font-weight-bold text-center">Historique Demandes</div>
  <div class="table-responsive">
    <button id="changebtn" class="changeBtn" (click)="manifestationBtn()">=> Manifestations <=</button>
    <button id="changebtn1" class="changeBtn1" (click)="missionStageBtn()">=> MissionStages <=</button>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Titre/Objet de demande</th>
        <th scope="col">Date debut</th>
        <th scope="col">Date Fin</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <ng-template [ngIf]="!isManif">
        <tr *ngFor = "let mStage of missionStages" class="bg-brown">
          <td class="pl-lg-5 pl-md-3 tabletd">{{mStage.objetMission}}</td>
          <td class="pt-2 tabletd">{{mStage.dateDebut}}</td>
          <td class="pt-2 tabletd">{{mStage.dateFin}}</td>
          <td id="theState" class="pt-2 tabletd">{{mStage.state}}</td>
          <td id="imprimer" class="pt-2 tabletd" (click)="viewDetailsMStage(mStage.id)" ><button>Imprimer</button></td>
        </tr>
      </ng-template>

      <ng-template [ngIf]="isManif">
        <tr *ngFor = "let manif of manifestations" class="bg-brown">
          <td class="pl-lg-5 pl-md-3 tabletd">{{manif.titreManifestation}}</td>
          <td class="pt-2 tabletd">{{manif.dateDebut}}</td>
          <td class="pt-2 tabletd">{{manif.dateFin}}</td>
          <td class="pt-2 tabletd">{{manif.state}}</td>
          <td id="imprimere" class="pt-2 tabletd" (click)="viewDetailsManif(manif.id)" ><button>Imprimer</button></td>
        </tr>
      </ng-template>




      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>
