<div class="container rounded mt-5 bg-white p-md-5">
  <div class="h2 font-weight-bold">Demandes</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Titre de demande</th>
        <th scope="col">Type</th>
        <th scope="col">Date creation</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr class="bg-blue">
        <td class="pt-2">
          <div class="pl-lg-5 pl-md-3 pl-1 name">kaoutar@uca.ma</div>
        </td>
        <td class="pt-3 mt-1">Manifestation</td>
        <td class="pt-3">18/05/2022</td>
        <td class="pt-3"><span class="fa fa-check pl-3"></span></td>
        <td class="pt-3"><span class="fa fa-ellipsis-v btn"></span></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
