<div class="container" >
  <div class="table-responsive">
    <table class="table text-center">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Détails</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>M'RHAR</td>
        <td>Kaoutar</td>
        <td>kaoutarmrhar@uca.ma</td>
        <td>+212 651-117-970</td>
        <td>
          <div class="btn btn-primary" routerLink="/detail-demandeur">Détails</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



