.main {
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
  url(src/assets/images/manif.jpg) fixed center center no-repeat;
  /*background: #181015 url(src/assets/images/manif.jpg) fixed center center no-repeat;*/
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 1200px) {
  .header-text {
    margin-top: 15px;
    align-items: center;
  }

  .header-text h1 {
    font-size: 24px !important;

  }

  .header-text .par {
    font-size: 15px !important;
  }




  /*.menu {*/
  /*  display: none;*/
  /*}*/

}


.navbar {
  width: 1300px;
  height: 80px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  color: #ff7200;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
  padding-left: 200px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: #ff7200;
}

.search {
  float: left;
  /*margin-left: 400px;*/
}

.srch {
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn {
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}

.buttonn {
  width: 120px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  color: #fff;
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn:hover {
  color: #000;
}

.buttonn:hover {
  color: #000;
}

.btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
}

.header-text {
  width: 1200px;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
}

.header-text .par {
  text-align: center;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.header-text h1 {
  text-align: center;
  font-family: "Open sans", Helvetica, Arial;
  font-size: 40px;
  margin-top: 13%;
  letter-spacing: 2px;
}

.header-text .cn {
  text-align: center;
  width: 160px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;

}

.header-text .cn a {
  text-decoration: none;
  color: #fff;
  transition: .3s ease;
}

.header-text .cn:hover a {
  text-decoration: none;
  color: #000;
  transition: .3s ease;
}

.cn:hover {
  background-color: #fff;
}


.form {
  width: 250px;
  height: 380px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%);
  position: absolute;
  top: -20px;
  left: 870px;
  transform: translate(0%, -5%);
  border-radius: 10px;
  padding: 25px;
}

.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus {
  outline: none;
}

::placeholder {
  color: #fff;
  font-family: Arial;
}

.btnn {
  width: 240px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}


.btnn:hover {
  background: #fff;
  color: #ff7200;
}

.btnn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form .link a {
  text-decoration: none;
  color: #ff7200;
}

.liw {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.icons a {
  text-decoration: none;
  color: #fff;
}

.icons ion-icon {
  color: #fff;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}

.icons ion-icon:hover {
  color: #ff7200;
}

.img {
  width: 90px;
  height: 90px;
  display: flex;
  justify-items: left;

}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}


.card {
  background-color: rgba(227, 201, 173, 0.98);
  /*width: 600px;*/
  padding: 10px;
  border: 1px solid #eee;
  /*margin: 0px;*/
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.inner-card {
  background: #fff;
  padding: 10px;
  border-radius: 5px
}

.heart {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #beb4aa;
  border-radius: 50%;
  background-color: #eee
}

.btn:focus {
  color: #fff;
  box-shadow: none
}

img {
  width: 100%;
  height: 300px;
}

.thin {
  font-weight: 300;
  font-family: "Open sans", Helvetica, Arial;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-items: center;
  justify-content: center;

}

.text-muted {
  color: #888;
}

.jumbotron {
  display: flex;
  justify-items: center;
  justify-content: center;
  color: inherit;
  background-color: #F7F5F4;
  margin-top: 140px;
  width: 100%;
  padding: 30px 20px;

}


.picture-left {
  width: 360px;
  padding-right: 20px;
  padding-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.banner-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  color: black;

}

.carousel-indicators li {
  height: 0.8rem;
  width: .8rem;
  border-radius: 50%;
  background-color: white;
}

.container1 {
  justify-content: right;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}


@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

a {
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.nav-container {
  width: 1280px;
  margin: auto;
}

.nav-checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px 0;
}

.logo {
  text-decoration: none;
  color: #fff;
  padding-left: 10px;
}

.tab-nav {
  outline: none;
  display: none;
}

.tab-nav-label {
  display: none;
  color: #fff;
}

.tab-content {
  grid-column: 3;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab-content li {
  display: inline-block;
  padding-right: 10px;
}

.tab-content li a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.tab-content li a::before {
  content: '';
  display: block;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  transform-origin: left;
  transform: scale(0, 1);
  transition: transform ease-in-out 500ms;
}

.tab-content li a:hover::before {
  transform: scale(1, 1);
}

.tab-content li a::after {
  content: '';
  display: block;
  height: 3px;
  background: #fff;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  transform-origin: right;
  transform: scale(0, 1);
  transition: transform ease-in-out 500ms;
}

.tab-content li a:hover::after {
  transform: scale(1, 1);
}

@media screen and (max-width: 1280px) {
  .nav-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .tab-nav-label {
    display: grid;
    cursor: pointer;
    grid-column: 3;
    padding-right: 10px;
  }

  .tab-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/4;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
  }

  .nav-checkbox input:checked ~ .tab-content {
    max-height: 400px;
  }

  .tab-content li {
    padding: 10px 0;
  }
}


.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


footer{
  margin-top:26px;
}
