<div class="container card-0 justify-content-center " xmlns:width="http://www.w3.org/1999/xhtml">

  <h1> Demande Soutien Type A</h1>
  <div class="row justify-content-center">

    <div class="h2">
      <img class="image" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
      <h2>Informations Demandeur</h2>
      <img class="image" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
    </div>

    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">Nom :</label>
          <label class="info">{{user.nom}} </label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Email :</label>
          <label class="info"> {{user.email}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Fonctionnalité :</label>
          <label class="info"> {{donnePro.niveau}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">CED :</label>
          <label class="info"> {{donnePro.ced}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Entité Recherche : </label>
          <label class="info"> {{donnePro.entiteRecherche}}</label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">Prénom :</label>
          <label class="info"> {{user.prenom}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">N° Téléphone :</label>
          <label class="info"> {{user.telephone}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Grade :</label>
          <label class="info"> {{donnePro.grade}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Etablissement : </label>
          <label class="info"> {{donnePro.etablissement}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Responsable Entité: </label>
          <label class="info"> {{donnePro.respoEntite}}</label></h3>
      </div>
    </div>


    <div class="h2">
      <img class="image2" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
      <h2>Informations Mission ou Stage</h2>
      <img class="image2" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">Objet de la mission ou stage :</label>
          <label class="info">{{mStage.objetMission}} </label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text"></label>
          <label class="info"></label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">Pays :</label>
          <label class="info"> {{mStage.pays}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Date Début : </label>
          <label class="info"> {{mStage.dateDebut}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Date Départ : </label>
          <label class="info"> {{mStage.dateDepart}}</label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">Ville :</label>
          <label class="info"> {{mStage.ville}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Date fin : </label>
          <label class="info">{{mStage.dateFin}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Date Retour : </label>
          <label class="info"> {{mStage.dateRetour}}</label></h3>
      </div>

    </div>


    <div class="h2">
      <img class="image2" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
      <h2>Cadre de la mission ou de stage</h2>
      <img class="image2" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
    </div>
        <h4><label class="text">est-il financé:</label>
              <label class="info">{{cadre.isFinanced}}</label></h4>

    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">Préciser le cadre : </label>
          <label class="info"> {{cadre.titreCadre}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Intitulé du projet de coopération : </label>
          <label class="info"> {{cadre.titreProjet}}</label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">Responsable marocain du projet : </label>
          <label class="info"> {{cadre.respoMarDuProjet}}</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Partenaire(s) étranger(s) impliqué(s) : </label>
          <label class="info"> {{cadre.partenaireEtranger}}</label></h3>
      </div>
    </div>

    <div class="h2">
      <img class="image3" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
      <h2>Information sur le soutien</h2>
      <img class="image3" src="https://www.freepnglogos.com/uploads/line-png/faded-black-line-png-images-19.png">
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">A-t-il déja bénéficié d'un soutien Type A cette année?:</label>
          <label class="info">{{soutien.isBenfTypeA}} </label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text"></label>
          <label class="info"></label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group" style="padding-bottom: 30px">
        <h3><label class="text">Montant de soutien précedent : </label>
          <label class="info"> {{soutien.montant}} DH</label></h3>
      </div>
      <div class="form-group" style="padding-bottom: 30px">
        <h3><label class="text">Montant Titre Transport :</label>
          <label class="info">{{soutien.mTitreTransport}} DH</label></h3>
      </div>
      <div class="form-group" style="padding-bottom: 30px">
        <h3><label class="text">Montant Frais D'inscription :</label>
          <label class="info">{{soutien.mFraisInscription}} DH</label></h3>
      </div>
      <div class="form-group" style="padding-bottom: 30px">
        <h3><label class="text">Montant Hébergement: </label>
          <label class="info">{{soutien.mHebergement}} DH</label></h3>
      </div>
      <div class="form-group">
        <h3><label class="text">Autre Montant: </label>
          <label class="info">{{soutien.mAutre}} DH</label></h3>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="form-group">
        <h3><label class="text">
          Nature de soutien demandé :</label>
          <label class="info"> {{soutien.nature}}</label></h3>
      </div>
      <div class="form-group">
        <h4><label>Montant Titre Transport édité :</label></h4>
        <input type="number" class="form-control" placeholder="" [(ngModel)] = "newMont.newmTitre">
      </div>
      <div class="form-group">
        <h4><label>Montant Frais D'inscription édité :</label></h4>
        <input type="number" class="form-control" placeholder="" [(ngModel)] = "newMont.newmFraisInscription">
      </div>
      <div class="form-group">
        <h4><label>Montant Hébergement édité :</label></h4>
        <input type="number" class="form-control" placeholder="" [(ngModel)] = "newMont.newmHebergement">
      </div>
      <div class="form-group">
        <h4><label>Autre Montant édité :</label></h4>
        <input type="number" class="form-control" placeholder="" [(ngModel)] = "newMont.newMontant">
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-3">
        <button class="section2_btn btn22" (click)="onSave()" type="button">Modifier Montant</button>
      </div>
      <div class="col-md-3">
        <button class="section2_btn btn44" type="button" (click)="onclick()">Imprimer</button>
      </div>
      <div class="col-md-3" >
                    <button id="actions" class="section2_btn btn33" type="button"(click)="acceptMStage()" disabled>Accepter</button>
      </div>
      <div class="col-md-3" >
                    <button id="actions2" class="section2_btn btn11" type="button" (click)="refuseMStage()" disabled>Refuser</button>
      </div>
    </div>



  </div>
</div>
