<div class="card shadow border-0 mb-7">
  <div class="card-header"><h5 class="mb-0">Demandes de Stage ou Mission</h5></div>
  <div class="table-responsive">
    <table class="table table-hover table-nowrap">
      <thead class="thead-light">
      <tr>
        <th scope="col">Code Demande</th>
        <th scope="col">Objet de mission</th>
        <th scope="col">pays</th>
        <th scope="col">Status</th>
        <th scope="col">Modifier</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mission of mStages" >
        <td>{{mission.id}}</td>
        <td> {{mission.objetMission}} </td>
        <td> {{mission.dateDebut}}</td>
        <td> {{mission.dateFin}}</td>
        <td><span class="badge badge-lg badge-dot"> <i class="bg-warning"></i>En cours </span></td>
        <td class=" td text-center"><a class="btn btn-sm btn-neutral" routerLink="/detail-demande-Stage/:id">Détails</a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

</div>
