<div class="container">
  <div class="table-responsive"  class="scroller">
    <table class="table text-center"  >
      <thead>
      <tr>
        <th>Objet</th>
        <th>Cadre</th>
        <th>Ville</th>
        <th>Pays</th>
        <th>état</th>
        <th>détails</th>
      </tr>
      </thead>
      <tbody  >


      <tr *ngFor = "let missionStage of mStages">
        <td>{{missionStage.objetMission}}</td>
        <td>{{missionStage.pays}}</td>
        <td>{{missionStage.ville}}</td>
        <td>{{missionStage.pays}}</td>
        <td>
          <a class="btn1" (click)="accepted()"><i class="fa fa-check"  style="color: limegreen; "></i> </a>
          <br>  <a class="btn2" (click)="refused()"><i class="fa fa-xmark"  style="color: red; "></i> </a>
        </td>
        <td>
          <a class="btn btn-primary" (click)="viewDetails(missionStage.id)">Détails</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



