footer {
  width: 100%;
}

.footer-copyright {
  margin-top: 13px
}

aside {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none !important;
  color: #777a7c
}

.description {
  font-size: 12px
}

.fa-facebook-f {
  color: #3b5999
}

.fa-instagram {
  color: #e4405f
}

.fa-youtube {
  color: #cd201f
}

.fa-twitter {
  color: #55acee
}

.logo-footer {
  color: #26495c;
}

.footer-copyright p {
  margin-top: 10px
}


@media screen and (max-width: 1200px) {
  /*.container-fluid{*/
  /*  display:none;*/
  /*}*/
}
