<div class="card shadow border-0 mb-7">
  <div class="card-header"><h5 class="mb-0">Messages</h5></div>
  <div class="table-responsive">
    <table class="table table-hover table-nowrap">
      <thead class="thead-light">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Sujet</th>
        <th scope="col">Message</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> Kaoutarmrhar@uca.ma</td>
        <td>0651112970</td>
        <td>mot de passe</td>
        <td>j'ai oublié mon mot de passe et je voulais le récupérer </td>
      </tr>

      </tbody>
    </table>
  </div>

</div>
